<h1>Editing content</h1>

<%= render 'form' %>

<%= link_to 'Cancel', @content %> |
<%= link_to 'Back', contents_path(:topic_id => @content.topic_id) %> |
<%= link_to 'Destroy', @content, :confirm => 'Are you sure?', :method => :delete %>
