<!-- Copyright 2012 Bryan Lee Jacobson -->
<div class="fancy_button">
  <% if link %>
     <%= link_to(text, link) %>
  <% else %>
     <span style="color:gray;"><%= text %></span>
  <% end %>
</div>
