<!-- Copyright 2012 Bryan Lee Jacobson -->
<h1>Editing screen</h1>

<%= render 'form' %>

<%= link_to 'Cancel', @screen %> |
<%= link_to 'Destroy', @screen, :confirm => 'Are you sure?', :method => :delete %>
