<!-- Copyright 2012 Bryan Lee Jacobson -->
<br />
<h1 style="color:blue;">Explore Topics:</h1>
Navigate:
<%= link_to '=TOP=', topics_path %>
<% if @topic %>
  <% @topic.ancestors.each do |topic| %>
    / <%= link_to topic.title, navigate_path(topic) %>
  <% end %>
  <% if @topic.id %>
    / <%= link_to_unless_current @topic.title, navigate_path(@topic) %>
  <% else %>
   / =NEW=
  <% end %>
<% end %>
<br />
<br />
