<table>
  <tr>
    <th>Icon</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td>
      <%= image_tag(default_topic_icon(topic.icon), :width => '100') %>
    </td>
    <td>
      <span style="padding:25px;font-size:32px;">
      <%= link_to topic.title, topic %>
      </span>
    </td>
    <td><%= topic.description %></td>
  </tr>
<% end %>
</table>
