<table>
  <tr>
    <th>Icon</th>
    <th>Title</th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td>
      <span style="padding:5px;" title="<%= topic.description %>">
      <%= image_tag(default_topic_icon(topic.icon), :height => '50') %>
      </span>
    </td>
    <td>
      <span style="padding:5px;font-size:32px;" title="<%= topic.description %>">
      <%= link_to topic.title, topic %>
      </span>
    </td>
  </tr>
<% end %>
</table>
