<div class="grid_16" style="background-color:white;">

  <br />

  <%= render 'nav_bar' %>
  
  <%= render 'topic_list' %>
  
  <% if @topic %>
    <div class="link_button" style="width:120px;">
      <%= link_to 'Add Subtopic', new_topic_path(:parent_id => @topic.id) %>
    </div>
  <% else %>
    <div class="link_button" style="width:186px;">
      <%= link_to 'Add Top Level Topic', new_topic_path %>
    </div>
  <% end %>
  
</div>
