<div class="grid_16" style="background-color:white;">

  <br />

  <%= render 'nav_bar' %>
  
  <%= render 'topic_list' %>
  
  <br />
  
  <% if @topic %>
    <%= link_to 'Add Subtopic', new_topic_path(:parent_id => @topic.id) %>
  <% else %>
    <%= link_to 'Add Top Level Topic', new_topic_path %>
  <% end %>
  
</div>
