<div class="grid_9">

  Topic:
  <%= link_to '=TOP=', topics_path %>
  <% @topic.ancestors.each do |topic| %>
    / <%= link_to topic.title, navigate_path(topic) %>
  <% end %>

  <br />
  <br />

  <h1>New topic</h1>

  <%= render 'form' %>

  <%= link_to 'Cancel', topics_path %>

</div>
