div.home {
  font-size: 36px;
  line-height: 36px;
  padding: 25px;
  color: white;
  width: 460px;
}

div.link_button {
  font-size: 16px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  background-color: Bisque;
}

span.big_text {
  font-size: 36px;
  line-height: 36px;
  padding: 5px;
}

span.medium_text {
  font-size: 28px;
  line-height: 28px;
  padding: 5px;
}

span.smedium_text {
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
}

div.fancy_button {
  float: left;
  border-style: inset;
  border-color: blue;
  border-width: 8px;
  margin: 2px;
  width: 120px;
  font-size: 24px;
  font-weight: bold;
  padding:5px;
}
