<!-- Copyright 2012 Bryan Lee Jacobson -->
<div class="container_16" style="background-color:white;">
  <div class="grid_14">

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

  </div>
</div>
