<h1>Welcome to LearnShare.</h1>

<div style="width:480px;padding:7px;font-size:36px;color:white;background-color:Lime">
<b>Learn:</b> Skills that matter.
</div>

<div style="width:480px;padding:7px;font-size:36px;color:white;background-color:Teal">
<b>Share:</b> What <em>you</em> know.
</div>

<div style="width:480px;padding:7px;font-size:36px;color:white;background-color:Orange">
<b>Explore:</b> 357 topics.
</div>

<div style="width:480px;padding:7px;font-size:36px;color:white;background-color:Navy">
<b>Rate:</b> Find the best.
</div>
