
<div class="container_16" style="background-color:white;height:375px;">
  <div class="grid_9">

<h1 style="padding:10px;">Welcome to LearnShare.</h1>

<div style="width:450px;padding:18px;font-size:36px;color:white;background-color:Lime">
<b>Learn</b> skills that matter
</div>

<div style="width:450px;padding:18px;font-size:36px;color:white;background-color:Teal">
<b>Share</b> what <em>you</em> know
</div>

<div style="width:450px;padding:18px;font-size:36px;color:white;background-color:Orange">
<b>Explore</b> 357 topics
</div>

<div style="width:450px;padding:18px;font-size:36px;color:white;background-color:Navy">
<b>Rate</b> to find the best
</div>

  </div>
  <div class="grid_7">
<BR />
<BR />
<h2 style="padding:10px;">Register</h2>
<%= render 'register_user_form' %>
  </div>
</div>

