
<div class="container_16" style="background-color:white;height:375px;">
  <div class="grid_9">

<div style="width:460px;padding:25px;font-size:36px;color:navy;">
<em>Welcome to <b>LearnShare</b></em>
</div>

<div style="width:460px;padding:25px;font-size:36px;color:white;background-color:Lime;">
<b>Learn</b> things that matter
</div>

<div style="width:460px;padding:25px;font-size:36px;color:white;background-color:Teal;">
<b>Share</b> what <em>you</em> know
</div>

<div style="width:460px;padding:25px;font-size:36px;color:white;background-color:Orange;">
<b>Explore</b> <em>357</em> topics
</div>

  </div>
  <div class="grid_7">
<BR />
<BR />
<h2 style="padding:10px;">Register</h2>
<%= render 'register_user_form' %>
  </div>
</div>

