<div class="grid_16">
  <div class="home" style="color:navy;">
    <em>Terms Of Service</em>
  </div>

  <div style="padding:24px;color:white;background-color:Teal;">
    <ol style="font-size:18px;line-height:24px;">
      <li>Using this site indicates your acceptance of these terms
          of service.
      </li>
      <li>Be kind. Treat each other with politeness and respect.
          No derogatory or hateful language.
      </li>
      <li>Be family friendly. No "adult" content (beyond network TV or
          a typical PG-13 movie).
      </li>
      <li>Be fact based. Site your sources. If your personal experience
          is your source, site that, and state nature and duration of your
	  experience. Example: "Source: My experience as a mom for 13 years."
          No meta-factual topics such as religion, UFOs, or who's 
          political party or sports team is better.
      </li>
      <li>Be educational.  Follow the guidelines for quality eLearning
          content (to-be-developed).  No promotional or advocacy use.
	  No advertising.  No commercial use (i.e. content intended
	  primarily to support the use of a commercial product) - although
	  this may be available as a future "premium" service.
      </li>
      <li>License: Content is made available under the Creative Commons
          Attribution-ShareAlike license. Attribution must include the
	  website name "????" and URL. By contributing to the site you
	  grant permission to use your contributions under this license.
	  See:
	  <%= link_to "http://creativecommons.org/licenses/by-sa/3.0/",
	      {}, :style => "color:#DDDDFF" %>
      </li>
    </ol>
  </div>
</div>
