<!-- Copyright 2012 Bryan Lee Jacobson -->
<h1>Editing item</h1>

<%= render 'form' %>

<%= link_to 'Cancel', @item.screen %> |
<%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %>
